<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}JobSync{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f3f4f6;
            /* A light gray background */
        }
    </style>
</head>

<body>
    <main class="container mx-auto px-4">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>